/* p {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15%;
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 40px;
} */


/* @import url('https://fonts.googleapis.com/css?family=Sofia');

body{
    font-family: 'sofia';
} */


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */


header,
footer {
    text-align: center;

}

header img {
    width: 70%;
    max-width: 600px;
    min-width: 400px;
}

footer {
    color: blue;
}

footer img {
    max-width: 30px;
    min-width: 30px;
    width: 30px;
}




/* SECÇÃO ESPECIFICA PARA A PÁGINA HOME */
body {
    background-color: rgb(178, 178, 179);
}
/* SECÇÃO ESPECIFICA PARA A PÁGINA SOFTDEV */

table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

table {
    width: 75%
}

th {
    background-color: bisque;
    
}

.colspantext
{
    font-weight:bold;
    color: white; 
    background-color: grey; 
    text-align: left;
}

.ufcdleft{text-align: left;}

th:hover, tr:hover{background-color: coral;}



/* SECCAO ESPECIFICA PARA A PAGINA FORM */

.contactoimg {
height: 40%;
max-height: 800px;
min-height: 500px;
}
/* SECCAO ESPECIFICA PARA A PAGINA ABOUT */

#noUnderline {
    text-decoration: none;
}

.about {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7em;
    padding: 15px;
    word-spacing: 0.2em;
}